font.msgInfoHeader {
    font-weight: bold;
    font-family: '方正黑体';
}

h1 {
    font-family: '方正准雅宋';
    text-align: center;
    font-size: 21pt;
}

h1.subTitle {
    font-family: '方正仿宋';
    text-align: right;
    font-size: 14pt;
}

p {
    font-size: 12pt;
}